/* line 6, ../sass/flare.scss */
body, html {
  background: #000;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* line 14, ../sass/flare.scss */
.light {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0px;
  height: 0px;
  margin: 0;
  background: #fff;
  -moz-box-shadow: 0px 0px 30px 10px #e6e6c8, 0px 0px 10px 5px white;
  -webkit-box-shadow: 0px 0px 30px 10px #e6e6c8, 0px 0px 10px 5px white;
  box-shadow: 0px 0px 30px 10px #e6e6c8, 0px 0px 10px 5px white;
  -moz-animation: flaremove 5s alternate infinite ease-in-out, lightbright 5s alternate infinite linear;
  -webkit-animation: flaremove 5s alternate infinite ease-in-out, lightbright 5s alternate infinite linear;
  animation: flaremove 5s alternate infinite ease-in-out, lightbright 5s alternate infinite linear;
  -moz-border-radius: 9999px;
  -webkit-border-radius: 9999px;
  border-radius: 9999px;
}

/* line 27, ../sass/flare.scss */
.flare {
  position: absolute;
  top: 80%;
  left: 80%;
  -moz-animation: flaremove 5s alternate infinite ease-in-out;
  -webkit-animation: flaremove 5s alternate infinite ease-in-out;
  animation: flaremove 5s alternate infinite ease-in-out;
  -moz-border-radius: 9999px;
  -webkit-border-radius: 9999px;
  border-radius: 9999px;
}
/* line 33, ../sass/flare.scss */
.flare.one {
  margin: -50px 0 0 -50px;
  width: 100px;
  height: 100px;
  -moz-box-shadow: inset 0px 0px 20px 2px rgba(190, 190, 240, 0.125), 0px 0px 20px 0px rgba(190, 190, 240, 0.125);
  -webkit-box-shadow: inset 0px 0px 20px 2px rgba(190, 190, 240, 0.125), 0px 0px 20px 0px rgba(190, 190, 240, 0.125);
  box-shadow: inset 0px 0px 20px 2px rgba(190, 190, 240, 0.125), 0px 0px 20px 0px rgba(190, 190, 240, 0.125);
}
/* line 39, ../sass/flare.scss */
.flare.two {
  margin: -100px 0 0 -100px;
  width: 200px;
  height: 200px;
  -moz-box-shadow: inset 0px 0px 100px 2px rgba(200, 230, 200, 0.125), 0px 0px 13px 2px rgba(200, 230, 200, 0.125);
  -webkit-box-shadow: inset 0px 0px 100px 2px rgba(200, 230, 200, 0.125), 0px 0px 13px 2px rgba(200, 230, 200, 0.125);
  box-shadow: inset 0px 0px 100px 2px rgba(200, 230, 200, 0.125), 0px 0px 13px 2px rgba(200, 230, 200, 0.125);
}
/* line 45, ../sass/flare.scss */
.flare.three {
  margin: -300px 0 0 -300px;
  width: 600px;
  height: 600px;
  -moz-box-shadow: inset 0px 0px 22px 2px rgba(255, 142, 50, 0.25), 0px 0px 13px 2px rgba(255, 166, 50, 0.25);
  -webkit-box-shadow: inset 0px 0px 22px 2px rgba(255, 190, 50, 0.25), 0px 0px 13px 2px rgba(255, 135, 50, 0.25);
  box-shadow: inset 0px 0px 22px 2px rgba(255, 142, 50, 0.25), 0px 0px 13px 2px rgba(255, 173, 50, 0.25);
}
/* line 51, ../sass/flare.scss */
.flare.four {
  margin: 20% 0 0 20%;
  width: 100px;
  height: 100px;
  -moz-box-shadow: inset 0px 0px 160px 2px rgba(50, 180, 50, 0.125), 0px 0px 20px 2px rgba(50, 180, 50, 0.125);
  -webkit-box-shadow: inset 0px 0px 160px 2px rgba(50, 180, 50, 0.125), 0px 0px 20px 2px rgba(50, 180, 50, 0.125);
  box-shadow: inset 0px 0px 160px 2px rgba(50, 180, 50, 0.125), 0px 0px 20px 2px rgba(50, 180, 50, 0.125);
}
/* line 57, ../sass/flare.scss */
.flare.five {
  margin: -5% 0 0 -5%;
  width: 60px;
  height: 60px;
  -moz-box-shadow: inset 0px 0px 160px 2px rgba(200, 220, 80, 0.25), 0px 0px 20px 2px rgba(200, 220, 80, 0.25);
  -webkit-box-shadow: inset 0px 0px 160px 2px rgba(200, 220, 80, 0.25), 0px 0px 20px 2px rgba(200, 220, 80, 0.25);
  box-shadow: inset 0px 0px 160px 2px rgba(200, 220, 80, 0.25), 0px 0px 20px 2px rgba(200, 220, 80, 0.25);
}
/* line 63, ../sass/flare.scss */
.flare.six {
  margin: 20% 0 0 20%;
  width: 20px;
  height: 20px;
  -moz-box-shadow: inset 0px 0px 18px 10px rgba(150, 220, 220, 0.25), 0px 0px 5px 0px rgba(150, 220, 220, 0.25);
  -webkit-box-shadow: inset 0px 0px 18px 10px rgba(150, 220, 220, 0.25), 0px 0px 5px 0px rgba(150, 220, 220, 0.25);
  box-shadow: inset 0px 0px 18px 10px rgba(150, 220, 220, 0.25), 0px 0px 5px 0px rgba(150, 220, 220, 0.25);
}

@-moz-keyframes flaremove {
  0% {
    left: 20%;
    top: 40%;
  }
  100% {
    left: 80%;
    top: 60%;
  }
}
@-webkit-keyframes flaremove {
  0% {
    left: 20%;
    top: 40%;
  }
  100% {
    left: 80%;
    top: 60%;
  }
}
@keyframes flaremove {
  0% {
    left: 20%;
    top: 40%;
  }
  100% {
    left: 80%;
    top: 60%;
  }
}
@-moz-keyframes lightmove {
  0% {
    left: 80%;
    top: 60%;
  }
  100% {
    left: 20%;
    top: 40%;
  }
}
@-webkit-keyframes lightmove {
  0% {
    left: 80%;
    top: 60%;
  }
  100% {
    left: 20%;
    top: 40%;
  }
}
@keyframes lightmove {
  0% {
    left: 80%;
    top: 60%;
  }
  100% {
    left: 20%;
    top: 40%;
  }
}
@-moz-keyframes lightbright {
  0% {
    -moz-box-shadow: 0px 0px 30px 10px #e6e6c8, 0px 0px 10px 5px white;
    box-shadow: 0px 0px 30px 10px #e6e6c8, 0px 0px 10px 5px white;
  }
  50% {
    -moz-box-shadow: 0px 0px 30px 10px #e6e6c8, 0px 0px 10px 5px white;
    box-shadow: 0px 0px 30px 10px #e6e6c8, 0px 0px 10px 5px white;
  }
  100% {
    -moz-box-shadow: 0px 0px 40px 10px #e6e6c8, 0px 0px 20px 10px white;
    box-shadow: 0px 0px 40px 10px #e6e6c8, 0px 0px 20px 10px white;
  }
}
@-webkit-keyframes lightbright {
  0% {
    -webkit-box-shadow: 0px 0px 30px 10px #e6e6c8, 0px 0px 10px 5px white;
    box-shadow: 0px 0px 30px 10px #e6e6c8, 0px 0px 10px 5px white;
  }
  50% {
    -webkit-box-shadow: 0px 0px 30px 10px #e6e6c8, 0px 0px 10px 5px white;
    box-shadow: 0px 0px 30px 10px #e6e6c8, 0px 0px 10px 5px white;
  }
  100% {
    -webkit-box-shadow: 0px 0px 40px 10px #e6e6c8, 0px 0px 20px 10px white;
    box-shadow: 0px 0px 40px 10px #e6e6c8, 0px 0px 20px 10px white;
  }
}
@keyframes lightbright {
  0% {
    -moz-box-shadow: 0px 0px 30px 10px #e6e6c8, 0px 0px 10px 5px white;
    -webkit-box-shadow: 0px 0px 30px 10px #e6e6c8, 0px 0px 10px 5px white;
    box-shadow: 0px 0px 30px 10px #e6e6c8, 0px 0px 10px 5px white;
  }
  50% {
    -moz-box-shadow: 0px 0px 30px 10px #e6e6c8, 0px 0px 10px 5px white;
    -webkit-box-shadow: 0px 0px 30px 10px #e6e6c8, 0px 0px 10px 5px white;
    box-shadow: 0px 0px 30px 10px #e6e6c8, 0px 0px 10px 5px white;
  }
  100% {
    -moz-box-shadow: 0px 0px 40px 10px #e6e6c8, 0px 0px 20px 10px white;
    -webkit-box-shadow: 0px 0px 40px 10px #e6e6c8, 0px 0px 20px 10px white;
    box-shadow: 0px 0px 40px 10px #e6e6c8, 0px 0px 20px 10px white;
  }
}
